# Built artifacts / gitignored things
build/
.mypy_cache/
.vscode/
target/
.git/
.github/

# Non-source-code directories
examples/
docs/
images/
test/
scripts/
resources/

# Misc
.gitignore
Dockerfile
